<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-sm-3 col-md-2">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="profile-header">
            <img class="profile-img" src="assets/profile-icon.png" alt="Profile Image">
            <p class="username">Hello <br> <b>Administrator</b></p>
          </div>

          <div class="info-item">
            <span class="title">Total open</span>
            <span class="number">3419</span>
          </div>
          <div class="info-item">
            <span class="title">Overdue</span>
            <span class="number">3419</span>
          </div>
          <div class="info-item">
            <span class="title">Positions with no profiles</span>
            <span class="number">2089</span>
          </div>
          <div class="info-item">
            <span class="title">Offers accepted</span>
            <span class="number">72</span>
          </div>

          <!-- Icon buttons -->
          <div class="icon-label">
            <i class="fa fa-briefcase"></i>
            <span>Create a job</span>
          </div>
          <div class="icon-label">
            <i class="fa fa-user"></i>
            <span>Upload candidates</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Main Content -->
    <div class="col-sm-9 col-md-10">
      <div class="panel cards">
        <div class="panel-body">
          <div class="request-heading">
            <b>Request Assigned to you</b>
          </div>

          <div class="slider">
            <!-- Request cards -->
            <div class="col-md-2">
              <div class="panel panel-danger card-custom">
                <div class="panel-body">
                  <i class="fa fa-user icon-top-left"></i>
                  <b class="text-bottom-left">
                    2 <br> Offer requests</b>
                  <i class="fa fa-arrow-right icon-bottom-right"></i>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="panel panel-primary card-custom">
                <div class="panel-body">
                  <i class="fa fa-users icon-top-left"></i>
                  <b class="text-bottom-left">
                    2 <br> Bulk offer requests</b>
                  <i class="fa fa-arrow-right icon-bottom-right"></i>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="panel panel-info card-custom">
                <div class="panel-body">
                  <i class="fa fa-comment icon-top-left"></i>
                  <b class="text-bottom-left">
                    3 <br> Interview feedback pending</b>
                  <i class="fa fa-arrow-right icon-bottom-right"></i>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="panel panel-warning card-custom">
                <div class="panel-body">
                  <i class="fa fa-exclamation icon-top-left"></i>
                  <b class="text-bottom-left">
                    6 <br> Review feedback pending</b>
                  <i class="fa fa-arrow-right icon-bottom-right"></i>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="panel panel-warning card-custom">
                <div class="panel-body">
                  <i class="fa fa-exclamation icon-top-left"></i>
                  <b class="text-bottom-left">
                    6 <br> Review feedback pending</b>
                  <i class="fa fa-arrow-right icon-bottom-right"></i>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="panel panel-warning card-custom">
                <div class="panel-body">
                  <i class="fa fa-exclamation icon-top-left"></i>
                  <b class="text-bottom-left">
                    6 <br> Review feedback pending</b>
                  <i class="fa fa-arrow-right icon-bottom-right"></i>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="panel panel-warning card-custom">
                <div class="panel-body">
                  <i class="fa fa-exclamation icon-top-left"></i>
                  <b class="text-bottom-left">
                    6 <br> Review feedback pending</b>
                  <i class="fa fa-arrow-right icon-bottom-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Keep track of your job's activity <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="This section helps you monitor the activity related to your job postings."></i></h4>
          <b>Check Offer Updates</b>

          <!-- First Accordion -->
          <div class="panel-group" id="offerAccordion">
            <div class="panel">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <p data-toggle="collapse" href="#collapseOne" aria-expanded="false">
                    <b>123 Offers extended out to candidates</b> <br>
                    <span class="sub-title">View & Prepare Offers</span>
                    <i class="fa fa-chevron-down pull-right"></i>
                  </p>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="table-responsive">
                   <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>UPDATED ON</th>
                      <th>OFFER EXPIRY</th>
                      <th>CANDIDATE</th>
                      <th>JOB TITLE - CODE</th>
                      <th>STATUS</th>
                      <th>ACTION</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>28 Mar 2020</td>
                      <td>1 May 2020</td>
                      <td><a href="#">ASIF qa - RH5695064</a></td>
                      <td>Project Manager Systems - 1...</td>
                      <td><span class="label label-success">Accepted</span></td>
                      <td><button class="btn btn-primary btn-sm">View Offer</button></td>
                    </tr>
                    <tr>
                      <td>27 Mar 2020</td>
                      <td>31 Mar 2020</td>
                      <td><a href="#">Rekha qa - RH5563765</a></td>
                      <td>Delivery Project Lead - 175734</td>
                      <td><span class="label label-warning">Pending</span></td>
                      <td><button class="btn btn-primary btn-sm">View Offer</button></td>
                    </tr>
                    <tr>
                      <td>27 Mar 2020</td>
                      <td>2 Apr 2020</td>
                      <td><a href="#">GEETHANJALI qa - RH5516423</a></td>
                      <td>Senior Software Engg - System...</td>
                      <td><span class="label label-success">Accepted</span></td>
                      <td><button class="btn btn-primary btn-sm">View Offer</button></td>
                    </tr>
                    <tr>
                      <td>27 Mar 2020</td>
                      <td>2 Apr 2020</td>
                      <td><a href="#">ABHILASH qa - RH5641273</a></td>
                      <td>Senior Software Engg - System...</td>
                      <td><span class="label label-warning">Pending</span></td>
                      <td><button class="btn btn-primary btn-sm">View Offer</button></td>
                    </tr>
                    </tbody>
                  </table>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Second Accordion -->
          <div class="panel-group" id="offerAccordion1">
            <div class="panel">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <p data-toggle="collapse" href="#collapseTwo" aria-expanded="false">
                    <b>37 Offer in Approval</b> <br>
                    <span class="sub-title">26 Pending • 0 Approved • 11 Rejected</span>
                    <i class="fa fa-chevron-down pull-right"></i>
                  </p>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>UPDATED ON</th>
                      <th>OFFER EXPIRY</th>
                      <th>CANDIDATE</th>
                      <th>JOB TITLE - CODE</th>
                      <th>STATUS</th>
                      <th>ACTION</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>28 Mar 2020</td>
                      <td>1 May 2020</td>
                      <td><a href="#">ASIF qa - RH5695064</a></td>
                      <td>Project Manager Systems - 1...</td>
                      <td><span class="label label-success">Accepted</span></td>
                      <td><button class="btn btn-primary btn-sm">View Offer</button></td>
                    </tr>
                    <tr>
                      <td>27 Mar 2020</td>
                      <td>31 Mar 2020</td>
                      <td><a href="#">Rekha qa - RH5563765</a></td>
                      <td>Delivery Project Lead - 175734</td>
                      <td><span class="label label-warning">Pending</span></td>
                      <td><button class="btn btn-primary btn-sm">View Offer</button></td>
                    </tr>
                    <tr>
                      <td>27 Mar 2020</td>
                      <td>2 Apr 2020</td>
                      <td><a href="#">GEETHANJALI qa - RH5516423</a></td>
                      <td>Senior Software Engg - System...</td>
                      <td><span class="label label-success">Accepted</span></td>
                      <td><button class="btn btn-primary btn-sm">View Offer</button></td>
                    </tr>
                    <tr>
                      <td>27 Mar 2020</td>
                      <td>2 Apr 2020</td>
                      <td><a href="#">ABHILASH qa - RH5641273</a></td>
                      <td>Senior Software Engg - System...</td>
                      <td><span class="label label-warning">Pending</span></td>
                      <td><button class="btn btn-primary btn-sm">View Offer</button></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <!-- Third Accordion -->
          <div class="panel-group" id="offerAccordion2">
            <div class="panel">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <p data-toggle="collapse" href="#collapseThree" aria-expanded="false">
                    <b>1 Bulk Offer in Approval</b> <br>
                    <span class="sub-title">0 Pending • 1 Completed</span>
                    <i class="fa fa-chevron-down pull-right"></i>
                  </p>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>UPDATED ON</th>
                      <th>OFFER EXPIRY</th>
                      <th>CANDIDATE</th>
                      <th>JOB TITLE - CODE</th>
                      <th>STATUS</th>
                      <th>ACTION</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>28 Mar 2020</td>
                      <td>1 May 2020</td>
                      <td><a href="#">ASIF qa - RH5695064</a></td>
                      <td>Project Manager Systems - 1...</td>
                      <td><span class="label label-success">Accepted</span></td>
                      <td><button class="btn btn-primary btn-sm">View Offer</button></td>
                    </tr>
                    <tr>
                      <td>27 Mar 2020</td>
                      <td>31 Mar 2020</td>
                      <td><a href="#">Rekha qa - RH5563765</a></td>
                      <td>Delivery Project Lead - 175734</td>
                      <td><span class="label label-warning">Pending</span></td>
                      <td><button class="btn btn-primary btn-sm">View Offer</button></td>
                    </tr>
                    <tr>
                      <td>27 Mar 2020</td>
                      <td>2 Apr 2020</td>
                      <td><a href="#">GEETHANJALI qa - RH5516423</a></td>
                      <td>Senior Software Engg - System...</td>
                      <td><span class="label label-success">Accepted</span></td>
                      <td><button class="btn btn-primary btn-sm">View Offer</button></td>
                    </tr>
                    <tr>
                      <td>27 Mar 2020</td>
                      <td>2 Apr 2020</td>
                      <td><a href="#">ABHILASH qa - RH5641273</a></td>
                      <td>Senior Software Engg - System...</td>
                      <td><span class="label label-warning">Pending</span></td>
                      <td><button class="btn btn-primary btn-sm">View Offer</button></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Impact Section -->
      <div class="row">
        <!-- Left Panel: Joiner's Source Mix -->

        <div class="col-md-6">
          <div class="panel panel-default">
            <!-- Panel Heading -->
            <div class="panel-heading d-flex justify-content-between align-items-center">
              <div class="row">
                <div class="col-md-8">
                  <b class="custom-font">Your Joiner's source mix</b>
                </div>
                <div class="col-md-4">
                  <p>JAN 2020 - MAR 2020 <i class="fa fa-caret-down"></i></p>
                </div>
              </div>
            </div>

            <!-- Panel Body -->
            <div class="panel-body">
              <div class="row">
                <!-- Left Side: Graph Placeholder -->
                <div class="col-md-8">
                  <div class="graph-placeholder" style="width: 100%; height: 18rem; background-color: #e0e0e0;"></div>
                </div>

                <!-- Right Side: Total Joiners Info -->
                <div class="col-md-4">
                  <p><b>Total Joiners:
                    <span style="float: right;">90</span></b></p>
                  <ul class="list-unstyled">
                    <li>
                      <span class="bullet-size text-danger">●</span> Agency
                      <span style="float: right;">60</span>
                    </li>
                    <li>
                      <span class="bullet-size text-success">●</span>  Non-agency
                      <span style="float: right;">30</span>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div>

        <!-- Right Panel: Your Impact -->
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading d-flex justify-content-between align-items-center">
              <div class="row">
                <div class="col-md-8">
                  <b class="custom-font">Your Impact</b>
                </div>
                <div class="col-md-4">
                  <p>JAN 2020 - MAR 2020 <i class="fa fa-caret-down"></i></p>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <div class="center-div">
                <div class="text-center">
                  <div class="impact-box col-md-2">
                    <h4 class="impact-number">47</h4>
                    <b class="impact-label">DAYS</b>
                  </div>

                </div>
                <p class="col-md-10">Average days to fill</p>

              </div>
              <div class="center-div">
                <div class="text-center">
                  <div class="impact-box-2 col-md-2">
                    <h4 class="impact-number">4.7 <i class="fa fa-star text-success"></i></h4>
                    <b class="impact-label-2">RATINGS</b>
                  </div>


                </div>
                <p class="col-md-10">Your recruiting rating</p>
              </div>
            </div>
          </div>
        </div>

      </div>



    </div>
  </div>
</div>

