
.open-sans-font {
              font-family: "Open Sans", sans-serif;
              font-optical-sizing: auto;
              font-weight: 300;
              font-style: normal;
              font-variation-settings:
                "wdth" 100;
            }
*{
  font-family: "Open Sans", sans-serif;
}
.fa,
.fas,
.far,
.fal,
.fab {
  font-family: FontAwesome, sans-serif !important;
}
.p-2{
  padding: 2rem;
}
.bold{
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.container{
  background-color: white;
}
.panel-body h5 {
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 12px;
}
.panel-body {
  padding: 1.5rem;
}

.cards{
  margin-bottom: 0;
}
.container-fluid {
  padding: 2.5rem;
}
.info-item {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.info-item .title {
  //font-weight: bold;
}

.info-item .number {
  font-size: 16px;
  font-weight: bold;
}
.profile-img{
  width: 4.5rem;
  height: 4.5rem;
  color: white ;
  font-size: 1.5rem;
  border-radius: 50%;
  background-color: #7791a7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-header {
  display: flex;
  align-items: center;
}

.username {
  font-size: 16px;
  flex: 1;
  overflow: hidden;
}

.username-b {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.icon-label {
  display: flex;
  align-items: center;
  margin-top: 5px;
  cursor: pointer;
  padding: 1rem;
}
.icon-label:hover {
  background-color: #DFF0FF;
}

.icon-label i {
  font-size: 20px;
  margin-right: 10px;
}

.icon-label span {
  font-size: 16px;
}
.request-heading{
  margin-bottom: 1rem;
}
.card-custom {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  margin-bottom: 20px;
  padding: 1rem;
  min-height: 20rem;
}
//@media (min-width: 900px) {
//  .card-custom {
//    //min-height: 20rem;
//  }
//}
.icon-top-left {
  position: absolute;
  top: 2rem;
  left: 2rem;
  color: #fff;
}

.text-bottom-left {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: #fff;
  max-width: 90px;
  white-space: normal;
  word-wrap: break-word;
}

.icon-bottom-right {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-size: 20px;
  color: #fff;
}

.panel-danger {
  background-color: #f1286e;
}

.panel-primary {
  background-color: #a254c4;
}

.panel-info {
  background-color: #32c9fe;
}

.panel-warning {
  background-color: #f9ab2d;
}
.cursor-pointer{
  cursor: pointer;
}
.sub-title{
  font-size: 1.5rem;
  text-decoration-color: #576477;
}

.panel-heading {
  background-color: white;
  border: white;
}
.hover-bg:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.panel-collapse {
  background-color: white;
}

.table thead th {
  font-weight: normal;
}
.custom-font{
  font-size: 1.5rem;
}
.p{
  margin: 0;
}
.bullet-size {
  font-size: 2rem; /* Adjust the size as needed */
  line-height: 1;  /* This keeps the bullet vertically centered */
}

.impact-box {
  border: 1px solid #dcdcdc;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 5px;
  margin: 1rem;
  width: 9rem;
}

.impact-box-2  {
  border: 1px solid #dcdcdc;
  padding: 10px;
  background-color: #f0fff5;
  border-radius: 5px;
  margin: 1rem;
  width: 9rem;
}

.impact-number {
  font-size: 24px;
  margin: 0;
}

.impact-label {
  font-size: 14px;
  color: cornflowerblue;
  margin: 0;
}
.impact-label-2 {
  font-size: 14px;
  color: lightseagreen;
  margin: 0;
}

.fa-star {
  color: #ffc107;
}

.text-center p {
  font-size: 14px;
  color: #666;
}
.center-div{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.table-responsive {
  border: none;
}
.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.modal-footer .btn-secondary {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.icon-size {
  width: 2rem;
  margin-right: 1rem;
}
.icon-cards {
  width: 5.5rem;
  height: 5.5rem;
}
.icon-size-cards {
  width: 5rem;
}
.font-large {
  font-size: 2rem;
}
.width-cover {
  width: 100%;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}
.align-item {
  display: flex;
  align-items: center
}
/* Customize tooltip icon color */
.custom-tooltip {
  color: black;
  cursor: pointer;
}

/* Bootstrap tooltip customization */
.tooltip {
  background-color: white !important; /* White background */
  color: black !important; /* Black text */
  border: 1px solid black; /* Black border */
  border-radius: 5px; /* Optional: rounded corners */
  padding: 10px; /* Optional: increase padding */
  font-size: 14px; /* Optional: adjust font size */
}

/* Optional: Arrow styling */
.tooltip .arrow::before {
  border-right-color: white !important;
  border-left-color: white !important;
}
.date-picker-css {
  width: 9rem;
  border: none;
  background-color: white;
  color: black;
}
